
.container {
    background-color: lightgray;
}

.actions {
    padding: 20px;
    gap: 20px;
    background-color: #2F2F2F;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.button {
    font-weight: bold;
    color: white;
    background-color: #D1411E;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-width: 2px;
    border-radius: 15px;
    border-color: white;
}
